<h2> Create/Manage Your Words </h2>
<p class="description"><small>
  Below is a list of all the words you've created so far.  You can click "Create Word" to create
  a new one or click Edit next to the word you'd like to update.  Please note, you can't delete
  any words you've created as they already have been played by others.
</small></p>
<button type="button" class="btn-lg btn-default create-word-button" data-toggle="modal" data-target="#create-word-modal">
  Create New Word
</button>

<div class="display-my-words">
  <table class="my-words-table">
      <tr>
        <th> ID </th>
        <th> Word </th>
        <th> Difficulty </th>
        <th> Owner </th>
        <th> Manage </th>
      </tr>
      {{#each words as |word|}}
      <tr>
        <td> {{word.id}} </td>
        <td> {{word.word}} </td>
        <td> {{word.difficulty}} </td>
        <td> {{word.owner_id}} </td>
        <td>
          <button type="button" class="btn-sm btn-defaults update-word" data-toggle="modal" data-target="#update-word-modal" data-word-id= {{word.id}}>
            Edit
          </button>
      </tr>
      {{/each}}
    </table>
    <!-- data-word-id={{easy_word.id}} -->
</div>
