<button type="button" class="btn btn-default" data-toggle="modal" data-target="#create-word-modal">
  Create New Word
</button>

<button type="button" class="get-my-words-button btn btn-default"> Manage My Words </button>

<div class="display-my-words">
  <table class="my-words-table">
      <tr>
        <th> ID </th>
        <th> Word </th>
        <th> Creator </th>
        <th> Manage </th>
      </tr>
      {{#each easy_words as |easy_word|}}
      <tr>
        <td> {{easy_word.id}} </td>
        <td> {{easy_word.word}} </td>
        <td> {{easy_word.creator}} </td>
        <td>
          <button type="button" class="btn-sm btn-defaults update-word" data-toggle="modal" data-target="#update-word-modal" data-easy-id= {{easy_word.id}}>
            Edit
          </button>
      </tr>
      {{/each}}
    </table>
    <!-- data-word-id={{easy_word.id}} -->
</div>
